* {
    padding: 0;
    margin: 0;
}

body, html {
    height: 100%;
}

body {
    background: #003049;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.form-box {
    width: 300px;
    padding: 40px;
    background: #191919;
    text-align: center;
}

.form-title {
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
}

.form-box input, .form-box button {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    padding: 14px 10px;
    text-align: center;
    border: 3px solid #3742fa;
    width: 200px;
    color: #fff;
    outline: 0;
    border-radius: 24px;
    transition: 0.25s;
    font-size: 17px;
}

.form-box input:focus {
    width: 280px;
    border-color: #fff;
}

.form-box input::selection {
    color: #fff;
    background: #3742fa;
}

.form-box button {
    border: 0;
    background: #3742fa;
    cursor: pointer;
    border: 2px solid #5352ed;
}

.form-box button:hover {
    background: none;
}